# General
*/node_modules/
.DS_Store
.env
*.log

# Nuxt.js
.nuxt/
dist/
nuxt-content/
./content/
.output/
package-blog/content
# VSCode
.vscode/

# Package manager
package-lock.json
yarn.lock

# System files
Thumbs.db
node_modules
